.cp-palette, .cp-selector {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  transition: all ease 1s; }
  .cp-palette li, .cp-selector li {
    display: inline-block;
    position: relative;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid gray;
    margin: 0 10px; }
    .cp-palette li:hover, .cp-selector li:hover {
      cursor: pointer; }
    .cp-palette li:before, .cp-selector li:before, .cp-palette li:after, .cp-selector li:after {
      content: ""; }
    .cp-palette li.color-disabled:before, .cp-selector li.color-disabled:before {
      position: absolute;
      display: block;
      background-color: lightgray;
      height: 5px;
      width: 30px;
      margin: 0 auto;
      top: 50%;
      z-index: 0;
      transform: translateY(-50%) rotate(45deg); }
    .cp-palette li.color-disabled:after, .cp-selector li.color-disabled:after {
      position: absolute;
      display: block;
      background-color: lightgray;
      height: 5px;
      width: 30px;
      margin: 0 auto;
      top: 50%;
      z-index: 0;
      transform: translateY(-50%) rotate(-45deg); }
    .cp-palette li.active-color, .cp-selector li.active-color {
      box-shadow: 0 0 5px 3px aqua; }
    .cp-palette li span, .cp-selector li span {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2; }

.cp-selector {
  border-top: 1px solid lightgray; }
