.gf-container {
  position: relative;
  margin-top: 50px;
  text-align: center; }

.gf-fretboard {
  display: inline-block;
  border-top-width: 20px;
  border-top-style: solid;
  border-top-color: #FBF3D3;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 0px 1px 2px #151515;
  background-color: #333330; }

.gf-fret-row {
  display: flex;
  flex-flow: row nowrap;
  height: 80px;
  border-bottom: 5px solid #A57164;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .gf-fret-row:first-child {
    border-bottom: none;
    position: absolute;
    top: -80px; }
    .gf-fret-row:first-child li {
      background-color: transparent; }
      .gf-fret-row:first-child li:nth-child(1):after {
        width: 0;
        height: 0; }
      .gf-fret-row:first-child li:nth-child(2):after {
        width: 0;
        height: 0; }
      .gf-fret-row:first-child li:nth-child(3):after {
        width: 0;
        height: 0; }
      .gf-fret-row:first-child li:nth-child(4):after {
        width: 0;
        height: 0; }
      .gf-fret-row:first-child li:nth-child(5):after {
        width: 0;
        height: 0; }
      .gf-fret-row:first-child li:nth-child(6):after {
        width: 0;
        height: 0; }
      .gf-fret-row:first-child li div {
        top: auto;
        bottom: 0;
        transform: translateY(0%); }
  .gf-fret-row:last-child {
    border-bottom: none; }
  .gf-fret-row li {
    position: relative;
    height: 80px;
    width: 40px;
    background-color: transparent; }
    .gf-fret-row li:before, .gf-fret-row li:after {
      content: ""; }
    .gf-fret-row li:nth-child(1):after {
      display: block;
      position: absolute;
      background-color: #d59352;
      box-shadow: -1px 0 1px 0px #151515;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 6px;
      height: 85px; }
    .gf-fret-row li:nth-child(2):after {
      display: block;
      position: absolute;
      background-color: #d59352;
      box-shadow: -1px 0 1px 0px #151515;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 5px;
      height: 85px; }
    .gf-fret-row li:nth-child(3):after {
      display: block;
      position: absolute;
      background-color: #d59352;
      box-shadow: -1px 0 1px 0px #151515;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 4px;
      height: 85px; }
    .gf-fret-row li:nth-child(4):after {
      display: block;
      position: absolute;
      background-color: #d59352;
      box-shadow: -1px 0 1px 0px #151515;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 3px;
      height: 85px; }
    .gf-fret-row li:nth-child(5):after {
      display: block;
      position: absolute;
      background-color: #d59352;
      box-shadow: -1px 0 1px 0px #151515;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 2px;
      height: 85px; }
    .gf-fret-row li:nth-child(6):after {
      display: block;
      position: absolute;
      background-color: #d59352;
      box-shadow: -1px 0 1px 0px #151515;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 1px;
      height: 85px; }
    .gf-fret-row li.gf-dot-mark:before {
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #A57164;
      border-radius: 50%;
      right: -10px;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%); }

.gf-note {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 1px 0px #151515; }
  .gf-note span {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block; }
