body {
  padding-top: 70px;
  background-color: wheat; }

@media screen and (min-width: 9000px) {
  .navbar-brand {
    float: left;
    margin-right: 5px;
    margin-left: -15px; }
  .navbar-nav {
    float: left;
    margin-top: 0;
    margin-bottom: 0; }
  .navbar-nav > li {
    float: left; }
  .navbar-nav > li > a {
    border-radius: 0; }
  .navbar-nav.pull-right {
    float: right;
    width: auto; }
  .navbar-toggle {
    position: relative;
    top: auto;
    left: auto;
    display: none; }
  .nav-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important; } }
